@CHARSET "UTF-8";
.nav_wrap .nav .nav_right .nav1 a {
	color: #28a7e1!important;
}

/*banner部分样式开始*/
.banner_wrap{
	width:100%;
	min-width: 1240px;
	height: 420px;
	overflow: hidden;
	position: relative;
}
.banner_wrap .banner{
	width: 1240px;
	height: 420px;
	margin: 0 auto;
	display: block!important;
	position: relative;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.banner_wrap .banner .banner_right{
	width: 300px;
	height: 420px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 988;
}
.banner_wrap .banner .banner_right .banner_right_up{
	font-size: 0;
	position: relative;
}
.banner_wrap .banner .banner_right .banner_right_up_p1{
	font: bold 21px "微软雅黑";
	position: absolute;
	top: 34px;
	right: 21px;
	color: #005174;
}
.banner_wrap .banner .banner_right .banner_right_up_p2{
	font: bold 16px "微软雅黑";
	position: absolute;
	top: 67px;
	left: 141px;
	color: #fff;
	padding: 2px 15px;
	background: #90c31f;
}
.banner_wrap .banner .banner_right .banner_right_down{
	width: 260px;
	height: 218px;
	padding: 60px 20px 0;
	font-size: 0;
	background-color: rgba(255,255,255,0.9);
}
.banner_wrap .banner .banner_right .banner_right_down .tel{
	width: 208px;
	height: 38px;
	float: right;
	border: 1px solid gainsboro ;
	outline: none;
	margin: 0;
	padding: 0 0 0 10px;
	font: 14px "微软雅黑";
	background: #fff;
}
.banner_wrap .banner .banner_right .banner_right_down .tel::-webkit-input-placeholder { /* WebKit browsers */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .tel:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .tel::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .tel:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .per{
	width: 108px;
	height: 38px;
	float: right;
	border: 1px solid gainsboro ;
	outline: none;
	margin: 0;
	padding: 0 0 0 10px;
	font: 14px "微软雅黑";
	color: #222;
	background: #fff;
}
.banner_wrap .banner .banner_right .banner_right_down .per::-webkit-input-placeholder { /* WebKit browsers */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .per:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .per::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .per:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #c4c4c4;
}
.banner_wrap .banner .banner_right .banner_right_down .middle{
	margin: 20px 0;
	position: relative;
}
#formCityMock{
	width: 64px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 0;
	font: 14px/38px "微软雅黑";
	color: #222;
	padding:0 24px 0 10px;
	border: 1px solid gainsboro;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	background: white 77px 15px url("../images/gongshang_imgs/drop_triangle.png");
	background-repeat: no-repeat;
}
.banner_wrap .banner .banner_right .banner_right_down .adress{
	width: 100px;
	height: 40px;
	border: 1px solid gainsboro;
	float: right;
	padding:0 24px 0 10px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none;
	background: white 77px 15px url("../images/gongshang_imgs/drop_triangle.png");
	background-repeat: no-repeat;
}
.banner_wrap .banner .banner_right .banner_right_down .down{
	width: 160px;
	height: 40px;
	background: #28a7e1;
	margin: 20px auto 0;
	text-align: center;
	font: 18px/40px "微软雅黑";
	color: #fff;
	border-radius: 5px;
}
.banner1_wrap .banner1{
	width: 1240px;
	height: 420px;
	margin: 0 auto;
	display: block!important;
}

/*banner部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*hot_service部分样式开始*/
.hot_service_wrap{
	width: 100%;
	height: 220px;
	padding-bottom: 50px;
	min-width: 1240px;
}
.hot_service_wrap .hot_service_title_wrap{
	width: 1240px;
	height: 60px;
	margin: 0 auto;
}
.hot_service_wrap .hot_service_title{
	width: 80px;
	height: 20px;
	float: left;
	border-left: 4px solid #28a7e1;
	font: 18px/20px "微软雅黑";
	color: #222;
	padding-left: 7px;
	margin-top: 20px;
}
.hot_service_wrap .hot_service_content{
	width: 1240px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
}
.hot_service_wrap .hot_service_content li{
	float: left;
	width: 295px;
	height: 160px;
	margin: 0 10px;
}
.hot_service_wrap .hot_service_content li:first-child{
	margin-left: 0;
}
.hot_service_wrap .hot_service_content li:last-child{
	margin-right: 0;
}
.hot_service_wrap .hot_service_content li .hot_service1_p1{
	font: 22px/40px "FZLTXHK, 微软雅黑" ;
	color: #fff;
	margin-top: 30px;
}
.hot_service_wrap .hot_service_content li .hot_service1_p2{
	font: 14px/20px "FZLTXHK, 微软雅黑" ;
	color: #fff;
}
.hot_service_wrap .hot_service_content li .hot_service1_btn{
	width: 104px;
	height: 22px;
	margin: 12px auto 0;
	font: 14px/22px "FZLTXHK, 微软雅黑" ;
	color: #fff;
	border: 2px solid #fff;
}
.hot_service_wrap .hot_service_content .hot_service1{
	background-image: url("../images/index_imgs/hot_service1.jpg");
}
.hot_service_wrap .hot_service_content .hot_service2{
	background-image: url("../images/index_imgs/hot_service2.jpg");
}
.hot_service_wrap .hot_service_content .hot_service3{
	background-image: url("../images/index_imgs/hot_service3.jpg");
}
.hot_service_wrap .hot_service_content .hot_service4{
	background-image: url("../images/index_imgs/hot_service4.jpg");
}
/*hot_service部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*problems部分样式开始*/
.problems_wrap{
	width: 100%;
	height: 500px;
	background: #f8f8f8;
	min-width: 1240px;
}
.problems_wrap .problems_up{
	width: 1240px;
	height: 188px;
	margin: 0 auto;
	text-align: center;
	font: 26px/26px "微软雅黑";
	color: #222;
}
.problems_wrap .problems_up .line{
	width: 290px;
	height: 1px;
	background: #7e7e7e;
}
.problems_wrap .problems_up .line1{
	margin: 70px 16px 0 150px;
	float: left;
}
.problems_wrap .problems_up .line2{
	margin: 70px 150px 0 16px;
	float: right;
}
.problems_wrap .problems_up .text{
	padding-top: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.problems_wrap .problems_middle{
	width: 1240px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
}
.problems_wrap .problems_middle li{
	width: 192px;
	height: 100px;
	margin: 0 10px;
	padding: 60px 20px 0;
	float: left;
	position: relative;
	background: white;
}
.problems_wrap .problems_middle li:first-child{
	margin-left: 0;
}
.problems_wrap .problems_middle li:last-child{
	margin-right: 0;
}
.problems_wrap .problems_middle img{
	position: absolute;
	top:-46px;
	left: 76px;
}
.problems_wrap .problems_middle .problems_middle_p1{
	font: 16px "微软雅黑";
	color: #222;
}
.problems_wrap .problems_middle .problems_middle_p2{
	font: 14px "微软雅黑";
	color: #999;
}
.problems_wrap .problems_down{
	width: 280px;
	height: 40px;
	background: #28a7e1;
	margin: 60px auto;
	border-radius: 5px;
	font: 18px/40px "微软雅黑";
	color: #fff;
	text-align: center;
}
/*problems部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*benefit部分样式开始*/
.benefit_wrap{
	width: 100%;
	height: 500px;
	min-width: 1240px;
	background: url("../images/index_imgs/benefit_bg.png") center center no-repeat;
}
.benefit_wrap .benefit{
	width: 1240px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}
.benefit_wrap .benefit .benefit_p1{
	font: 26px/26px "微软雅黑";
	padding-top: 75px;
	color: #fff;
}
.benefit_wrap .benefit .benefit_p2{
	width: 240px;
	height: 36px;
	border: 1px solid #9aa3aa;
	margin: 60px auto -28.5px;
	font: 16px/36px "微软雅黑";
	color: #fff;
}
.benefit_wrap .benefit .benefit_content{
	height: 140px;
	margin-top: 89.5px;
}
.benefit_wrap .benefit .benefit_content li{
	width: 190px;
	height: 140px;
	margin: 0 10px;
	float: left;
}
.benefit_wrap .benefit .benefit_content li:first-child{
	margin-left: 0;
}
.benefit_wrap .benefit .benefit_content li:last-child{
	margin-right: 0;
}
.benefit_wrap .benefit .benefit_p3{
	margin-top: 17px;
}
.benefit_wrap .benefit .benefit_p3,.benefit_wrap .benefit .benefit_p4{
	font: 14px/20px "微软雅黑";
	color:#fff;
}
/*benefit部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*comment部分样式开始*/
.comment_wrap{
	width: 100%;
	height: 435px;
	min-width: 1240px;
}
.comment_wrap .comment_up{
	width: 1240px;
	height: 136px;
	margin: 0 auto;
	text-align: center;
	font: 26px/26px "微软雅黑";
	color: #222;
}
.comment_wrap .comment_up .line{
	width: 400px;
	height: 1px;
	background: #222;
}
.comment_wrap .comment_up .line1{
	margin: 70px 16px 0 150px;
	float: left;
}
.comment_wrap .comment_up .line2{
	margin: 70px 150px 0 16px;
	float: right;
}
.comment_wrap .comment_up .text{
	padding-top: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.comment_wrap .comment_middle{
	width: 1240px;
	height: 217px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.comment_wrap .comments{
	width: 4960px;
	height: 165px;
	position: absolute;
	top: 0;
	left: -1240px;
}
.comment_wrap .comments li{
	width: 1240px;
	height: 165px;
	float: left;
}
.comment_wrap .comments li .li{
	width: 560px;
	height: 165px;
	padding-left: 60px;
	position: relative;
	float: left;
}
.comment_wrap .comments .comment_introduce{
	width: 400px;
	height: 165px;
	position: absolute;
	top: 0;
	left: 160px;
}
.comment_wrap .comments .comment_introduce_p1{
	font: 18px/18px "微软雅黑";
	color: #222;
	padding-top: 8px;
}
.comment_wrap .comments .comment_introduce_p2{
	font: 16px/16px "微软雅黑";
	color: #222;
	padding: 9px 0;
}
.comment_wrap .comments .comment_introduce_line{
	height: 1px;
	background: #e1e5e8;
}
.comment_wrap .comments .comment_introduce_p3{
	font: 14px/18px "微软雅黑";
	color: #9aa3aa;
	padding-top: 8px;
}
.comment_wrap .comment_down{
	width: 1240px;
	height: 22px;
	margin: 0 auto;
}
.comment_wrap .comment_down .arrow_wrap{
	width: 65px;
	height: 22px;
	margin: 0 auto;
}
.comment_wrap .comment_down .arrow{
	width: 20px;
	height: 20px;
	border: 1px solid #d2d2d2;
	border-radius: 50%;
	font: 20px/18px "微软雅黑";
	color: #d2d2d2;
	text-align: center;
}
.comment_wrap .comment_down .arrow_left{
	 float: left;
 }
 
.comment_wrap .comment_down .arrow img{
	 padding-bottom: 1px;
 }
 
.comment_wrap .comment_down .arrow_right{
	float: right;
}

/*comment部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*partner部分样式开始*/
.partner_wrap{
	width: 100%;
	height: 424px;
	background: #f4f4f4;
	min-width: 1240px;
}
.partner_wrap .partner_up{
	width: 1240px;
	height: 136px;
	margin: 0 auto;
	text-align: center;
	font: 26px/26px "微软雅黑";
	color: #222;
}
.partner_wrap .partner_up .line{
	width: 400px;
	height: 1px;
	background: #222;
}
.partner_wrap .partner_up .line1{
	margin: 70px 16px 0 150px;
	float: left;
}
.partner_wrap .partner_up .line2{
	margin: 70px 150px 0 16px;
	float: right;
}
.partner_wrap .partner_up .text{
	padding-top: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.partner_wrap .partners{
	width: 1240px;
	height: 288px;
	margin: 0 auto;
}
.partner_wrap .partners li{
	width: 190px;
	height: 100px;
	float: left;
	margin: 0 10px 20px;
}
.partner_wrap .partners .partner1,.partner_wrap .partners .partner7{
	margin-left: 0;
}
.partner_wrap .partners .partner6,.partner_wrap .partners .partner12{
	margin-right: 0;
}
/*partner部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*news部分样式开始*/
.news_wrap{
	width: 100%;
	height: 280px;
	padding-top: 60px;
	min-width: 1240px;
}
.news_wrap .news{
	width: 1240px;
	height: 280px;
	margin: 0 auto;
}
.news_wrap .news_inner{
	width: 330px;
	height: 224px;
	margin-left: 62.5px;
	float: left;
	font-size: 0;
}
.news_wrap .news3{
	margin-right: 62.5px;
}
.news_wrap .news .news_title{
	width: 330px;
	height: 30px;
}
.news_wrap .news .news_title .news_title_left a {
	width: 78px;
	height: 26px;
	font: 18px/26px "微软雅黑";
	color: #28a7e1;
	border-bottom: 4px solid #28a7e1;
}
.news_wrap .news .news_title .news_title_right{
	float: right;
	width: 247px;
	height: 29px;
	font: 12px/29px "微软雅黑";
	border-bottom: 1px solid #e1e5e8;
	text-align: right;
	padding-right: 5px;
}
.news_wrap .news .news_title .news_title_right a{
	color: #999;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.news_wrap .news_inner .news_content{
	padding-top: 15px;
}
.news_wrap .news_inner .news_content li a{
	font: 14px/24px "微软雅黑";
	color: #222;
}
/* 6.5添加文字经过变色 */
.news_wrap .news_inner .news_content li a:hover {
	color: #28a7e1;
}

/*news部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/


/*banner轮播start*/
.slideshow a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
/*轮换大区域*/
.slideshow {
	width:100%;
	height:420px;
	position:absolute;
	left: 0;
	top: 0;
}
.slideshowcenter li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.slideshow #slideshowback {
	width:100%;
	height:420px;
	position:absolute;
	left:0px;
	top:0px;
	overflow:hidden;
}
.slideshow #slideshowback p {
	width:100%;
	height:420px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
	filter:alpha(opacity=0);
}
.slideshow #slideshowback p.slideshowback1 {
	background: url(../images/index_imgs/banner.jpg) no-repeat scroll center center;
}
.slideshow #slideshowback p.slideshowback2 {
	background: url(../images/index_imgs/banner1.jpg) no-repeat scroll center center;
}
.slideshow #slideshowback p.slideshowback3 {
	background: url(../images/index_imgs/banner2.jpg) no-repeat scroll center center;
}
.slideshow .slideshow_main {
	width:1240px;
	height:420px;
	margin:0 auto;
	position:relative;
}
#slidebonum {
	height:14px;
	line-height:23px;
	position:absolute;
	right: 620px; 
	bottom: 27px; 
	z-index:5;
}
#slidebonum li {
	width:10px;
	height:10px;
	float:left;
	margin-left:8px;
	background:#000000;
	cursor:pointer;
	opacity: 0.3;
	filter:alpha(opacity=30);
}
#slidebonum .slideboone,#slidebonum li:hover {
	background:#ffffff;
	cursor:pointer;
	opacity: 1;
	filter:alpha(opacity=100);
}
/*banner轮播end*/

.content_out_wrap {
	width: 100%;
	height: 60px;
	position: absolute;
	left: -25px;
	bottom: 60px;
	font-size: 0;
}

.banner_wrap .content_inner_wrap{
	width:585px;
	height:40px;
	margin:0 auto;
	border:10px solid rgba(0,0,0,0.5);
	border-radius:10px;
	overflow:hidden;
	position: relative;
   /*  position: absolute;
    left: 330px;
    bottom: 60px; */
}

.banner_wrap .content_inner_wrap .cities{
	width:117px;
	height:40px;
	border-radius:5px;
	vertical-align:middle;
	color: #222;
	font-size: 14px;
	padding: 0 41px 0 10px;
    overflow: hidden;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    border: 0;
    background: white 87px 15px url("../images/gongshang_imgs/drop_triangle.png");
    background-repeat: no-repeat;
    line-height: 38px;
}

.banner_wrap .content_inner_wrap .content_inner_bg select::-ms-expand { display: none; }

.banner_wrap .search_wrap{
	float:right;
	width:460px;
	height:40px;
	position: relative;
	background: white;
	border-radius: 5px;
	border-left: 5px solid rgba(255,255,255,0.5);
	overfloat: hidden;
}
.banner_wrap .search_wrap .search_icon{
	width:19px;
	height:21px;
	background-image:url("../images/gongshang_imgs/search_icon.png");
	float:left;
	margin-top:9px;
	position: absolute;
	top:0;
	left: 10px;
}
.banner_wrap .search_wrap input{
	width:270px;
	height:40px;
	font:14px/38px "微软雅黑";
	border-radius:5px 0 0 5px;
	margin-left: 40px;
	border: none;
	outline: none;
}
.banner_wrap .search_wrap input::-webkit-input-placeholder { /* WebKit browsers */
	color: #d3d6e0;
}
.banner_wrap .search_wrap input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #d3d6e0;
}
.banner_wrap .search_wrap input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #d3d6e0;
}
.banner_wrap .search_wrap input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #d3d6e0;
}
.banner_wrap .index1_mainCon .search_wrap .search_btn{
	width:146px;
	height:40px;
	background:#8ec61a;
	float:right;
	font:16px/38px "微软雅黑";
	color:white;
	border-radius:0 5px 5px 0;
} /* banner搜索框结束 */

/* 新增财税小工具开始 */
.tools_wrap {
	width: 100%;
	height: 146px;
	min-width: 1240px;
}
.tools_wrap .tab-nav {
	width: 1240px;
	height: 74px;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #666;
}
.tools_wrap .tab-nav li {
	float: left;
	line-height: 74px;
	cursor: pointer;
}
.tools_wrap .tab-nav li.actived {
	font-weight: bold;
	color: #333;
}
.tools_wrap .tab-nav li:first-child {
	margin-left: 296px;
}
.tools_wrap .tab-nav li:nth-child(2) {
	margin-left: 184px;
}
.tools_wrap .tab-nav li:last-child {
	margin-left: 154px;
}
.tools_wrap .content-wrap {
	width: 1240px;
	height: 72px;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 16px;
}
.tools_wrap .content-wrap .content-item {
	width: 1240px;
	height: 72px;
	margin: 0 auto;
	display: none;
}
.tools_wrap .content-wrap .current {
	display: block;
}
/*公司核名*/
.tools_wrap .content-item1 ul li {
	float: left;
}
.tools_wrap .content-item1 ul li {
	float: left;
}
.tools_wrap .content-item1 .inner-l1  {
	width: 245px;
	height: 44px;
	position: relative;
	margin-left: 100px;
	margin-right: 40px;
}
.tools_wrap .content-item1 .inner-l1 .img-div {
	border: 1px solid #ddd;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}
.tools_wrap .content-item1 .inner-l1 .sele {
	position: relative;
	width: 160px;
	height: 44px;
	font: 16px/44px "黑体";
	color: #000;
	border: 1px solid #ddd;
	float: left;
	padding-left: 35px;
}

#formCityMock1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 149px;
	height: 44px;
	font: 16px/44px "Microsoft Yahei";
	color: #000;
	padding-right: 46px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	background: white url(../images/index_imgs/tool_arrow.jpg) no-repeat 152px 0;
}

.tools_wrap .content-item1 .inner-l1 .line {
	width: 1px;
	height: 45px;
	position: absolute;
	right: 46px;
	top: 0;
	background: #ddd;
}
.tools_wrap .content-item1 .inner-l2  {
	width: 520px;
	height: 44px;
	position: relative;
	margin-right: 50px;
}
.tools_wrap .content-item1 .inner-l2 .img-div {
	border: 1px solid #ddd;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}

.tools_wrap .content-item1 .inner-l2 input {
	width: 460px;
	height: 42px;
	padding-left: 10px;
	border: 1px solid #ddd;
	outline: none;
}

.tools_wrap .content-item1 .inner-l2 .content-item1-tel {
	font: 16px/42px "黑体";
	color: #000;
}

.tools_wrap .content-item1 .inner-l3 a {
	display: block;
	width: 160px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #26a6ff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
/*增值税测算*/
.tools_wrap .content-item2 ul li {
	float: left;
}
.tools_wrap .content-item2 .inner-l1 {
	margin-left: 118px;
	margin-right: 140px;
}
.tools_wrap .content-item2 .inner-l1 span {
	color: #999;
	font-size: 16px;
}
.tools_wrap .content-item2 .inner-l1 input {
	font-size: 16px;
	color: #000;
	width: 180px;
	height: 40px;
	padding-left: 5px;
	border: 1px solid #ddd;
}
.tools_wrap .content-item2 .inner-l2  {
	width: 245px;
	height: 44px;
	position: relative;
	margin-right: 140px;
}
.tools_wrap .content-item2 .inner-l2 .img-div {
	border: 1px solid #ddd;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}
.tools_wrap .content-item2 .inner-l2 select {
	font-size: 16px;
	color: #000;
	width: 199px;
	height: 46px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none;
	float: left;
	padding-left: 65px;
	background: url(../images/index_imgs/tool_arrow.jpg) no-repeat 152px 0;
	border: 1px solid #ddd;
}
.tools_wrap .content-item2 .inner-l2 .line {
	width: 1px;
	height: 45px;
	position: absolute;
	right: 46px;
	top: 0;
	background: #ddd;
}

.tools_wrap .content-item2 .inner-l3  {
	width: 245px;
	height: 44px;
	position: relative;
	margin-right: 40px;
}
.tools_wrap .content-item2 .inner-l3 .img-div {
	border: 1px solid #999;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}
.tools_wrap .content-item2 .inner-l3 input {
	width: 190px;
	height: 40px;
	padding-left: 5px;
}

.tools_wrap .content-item2 .inner-l4 a {
	display: block;
	width: 160px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #26a6ff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

/*企业所得税测算*/
.tools_wrap .content-item3 ul li {
	float: left;
}
.tools_wrap .content-item3 .inner-l1 {
	margin-left: 118px;
	margin-right: 140px;
}
.tools_wrap .content-item3 .inner-l1 span {
	color: #999;
	font-size: 16px;
}
.tools_wrap .content-item3 .inner-l1 input {
	width: 180px;
	height: 40px;
	padding-left: 5px;
	border: 1px solid #ddd;
	font-size: 16px;
	color: #000;
}
.tools_wrap .content-item3 .inner-l2  {
	width: 245px;
	height: 44px;
	position: relative;
	margin-right: 140px;
}
.tools_wrap .content-item3 .inner-l2 .img-div {
	border: 1px solid #ddd;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}
.tools_wrap .content-item3 .inner-l2 select {
	font-size: 16px;
	color: #000;
	border: 1px solid #ddd;
	width: 199px;
	height: 46px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none;
	float: left;
	padding-left: 30px;
	background: url(../images/index_imgs/tool_arrow.jpg) no-repeat 152px 0;
}
.tools_wrap .content-item3 .inner-l2 .line {
	width: 1px;
	height: 45px;
	position: absolute;
	right: 46px;
	top: 0;
	background: #ddd;
}

.tools_wrap .content-item3 .inner-l3  {
	width: 245px;
	height: 44px;
	position: relative;
	margin-right: 40px;
}
.tools_wrap .content-item3 .inner-l3 .img-div {
	border: 1px solid #999;
	width: 44px;
	height: 44px;
	float: left;
	border-right-width: 0px;
}
.tools_wrap .content-item3 .inner-l3 input {
	width: 190px;
	height: 40px;
	padding-left: 5px;
}

.tools_wrap .content-item3 .inner-l4 a {
	display: block;
	width: 160px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #26a6ff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
/* 新增财税小工具结束 */
/* 增值税测算弹出表单 */
.tool-form {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -195px;
	width: 390px;
	height: 270px;
	font-family: "微软雅黑";
	display: none;
	z-index: 999;
	border-radius: 8px 8px 0 0;
}
.tool-close {
	position: absolute;
	right: 20px;
	top: 20px;
}
.tool-title {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #28a7e1;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 8px 8px 0 0;
}
.tool-content {
	width: 100%;
	height: 200px;
	background: #fff;
}
.tool-content .p1 {
	font-size: 16px;
	color: #222;
	text-align: center;
	padding-top: 18px;
}
.tool-content .contval p {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
	color: #f55;
	text-align: center;
	box-sizing: border-box;
}
.tool-content .contval span {
	font-size: 16px;
	font-weight: normal;
	color: #222;
	vertical-align: middle;
}
.tool-content .p2 {
	font-size: 14px;
	color: #999;
	text-align: center;
	padding-bottom: 10px;
}
.tool-content .btn a {
	font-size: 18px;
	display: block;
	width: 168px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	background: #28a7e1;
	border-radius: 6px;
}
/*企业所得税弹出表单*/
.tool-form2 {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -195px;
	width: 390px;
	height: 270px;
	font-family: "微软雅黑";
	display: none;
	z-index: 999;
	border-radius: 8px 8px 0 0;
}
.tool-close {
	position: absolute;
	right: 20px;
	top: 20px;
}
.tool-title {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #28a7e1;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 8px 8px 0 0;
}
.tool-content {
	width: 100%;
	height: 200px;
	background: #fff;
}
.tool-content .p1 {
	font-size: 16px;
	color: #222;
	text-align: center;
	padding-top: 18px;
}
.tool-content .contval p {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
	color: #f55;
	text-align: center;
	box-sizing: border-box;
}
.tool-content .contval span {
	font-size: 16px;
	font-weight: normal;
	color: #222;
	vertical-align: middle;
}
.tool-content .p2 {
	font-size: 14px;
	color: #999;
	text-align: center;
	padding-bottom: 10px;
}
.tool-content .btn a {
	font-size: 18px;
	display: block;
	width: 168px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	background: #28a7e1;
	border-radius: 6px;
}

/* 新增下拉弹窗 */
.dropdown-wrap {
	display: block!important;
}

/* 表单样式开始 */
/*普通代账客户表单样式（尊享无忧财税服务）开始*/
#account{
    width: 500px;
    height: 450px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -250px;
    display: none;
    z-index: 999;
}
#account .title_wrap{
    width: 240px;
    height: 70px;
    background: #28a8e0;
    padding: 0 130px;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#account .title_wrap .title{
    width: 240px;
    height: 70px;
    font-size: 0;
}
#account .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#account .title_wrap .title .line_left{
    float: left;
}
#account .title_wrap .title .line_right{
    float: right;
}
#account .title_wrap .title p{
    font: 18px/70px "微软雅黑";
    color: white;
    text-align: center;
}
#account .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}
/*//////////////////////////////////////////////////*/
#account form{
    width: 500px;
    height: 260px;
    background: white;
}
#account form ul{
    font-size: 0;
    padding-top: 40px;
    background: #fff;
}
#account form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
#account form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock1_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#formCityMock1_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock1_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#account form ul li select{
    /* -webkit-appearance: none; */
    /*将默认的select选择框样式清除*/
  	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/40px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}

