@CHARSET "UTF-8";
.footer {
	width: 100%;
	min-width: 1200px;
}

.footer .copyright-wrap {
	width: 100%;
	height: 54px;
	background-color: #303030;
}

.footer .copyright {
	width: 1200px;
	height: 12px;
	margin: 0 auto;
	font: 12px/12px "微软雅黑";
	color: #7c7c7c;
	padding: 22px 0 22px;
	text-align: center;
}
.footer {
	width: 100%;
	min-width: 1200px;
}

.footer .footer-benefit-wrap {
	width: 100%;
	height: 165px;
	background-color: #fff;
}

.footer .footer-benefit {
	width: 1200px;
	height: 165px;
	margin: 0 auto;
}

.footer .benefit-lists {
	width: 1200px;
	height: 165px;
}

.footer .benefit-list {
	position: relative;
	float: left;
	width: 299px;
	height: 165px;
	box-sizing: border-box;
}

.footer .benefit-list::after {
	position: absolute;
	top: 50px;
	right: 0;
	content: "";
	width: 1px;
	height: 46px;
	background: #e4e4e4;
}

.footer .benefit-list4::after {
	width: 0;
}

.footer .benefit-list1 {
	padding-left: 67px;
	background: url("../images/footer_imgs/benefit1_bg.png") left 53px no-repeat;
}

.footer .benefit-list2 {
	padding-left: 85px;
	background: url("../images/footer_imgs/benefit2_bg.png") 18px 53px no-repeat;
}

.footer .benefit-list3 {
	padding-left: 85px;
	background: url("../images/footer_imgs/benefit3_bg.png") 18px 53px no-repeat;
}

.footer .benefit-list4 {
	padding-left: 85px;
	background: url("../images/footer_imgs/benefit4_bg.png") 18px 53px no-repeat;
}

.footer .benefit-list .p1 {
	font: 18px/18px "微软雅黑";
	color: #333;
	padding: 38px 0 18px;
}

.footer .benefit-list .p2 {
	font: 14px/14px "微软雅黑";
	color: #999;
	padding-bottom: 10px;
}

.footer .footer-meta-wrap {
	width: 100%;
	height: 260px;
	background-color: #303030;
}

.footer .footer-meta {
	width: 1200px;
	height: 259px;
	margin: 0 auto;
	border-bottom: 1px solid #3a3a3a;
}

.footer .inner-links {
	position: relative;
	float: left;
	width: 550px;
	height: 259px;
}

.footer .inner-links::after {
	position: absolute;
	top: 38px;
	right: 0;
	content: "";
	width: 1px;
	height: 183px;
	background-color: #3a3a3a;
}

.footer .inner-links-contains {
	width: 100%;
	height: 100%;
}

.footer .inner-links-contain {
	float: left;
	margin-right: 77px;
}

.footer .inner-links-contain:last-child {
	margin-right: 0;
}

.footer .inner-links-list1 {
	font: 18px/18px "微软雅黑";
	color: #fff;
	padding: 40px 0 25px;
}

.footer .inner-links-list2 {
	height: 14px;
	padding-bottom: 15px;
	font: 14px/14px "微软雅黑";
}

.footer .inner-links-list2 a {
	color: #7c7c7c;
}

.footer .inner-links-list2 a:hover {
	color: rgba(64,195,255,0.4);
}

.footer .public-nunmber {
	position: relative;
	float: left;
	width: 430px;
	height: 259px;
}

.footer .public-nunmber::after {
	position: absolute;
	top: 38px;
	right: 0;
	content: "";
	width: 1px;
	height: 183px;
	background-color: #3a3a3a;
}

.footer .public-number-contains {
	width: 100%;
	height: 100%;
}

.footer .public-number-contain {
	float: left;
	padding-left: 50px;
	margin-right: 5px;
}

.footer .public-number-item1 {
	font: 18px/18px "微软雅黑";
	color: #fff;
	padding: 40px 0 14px;
}

.footer .public-number-item2 {
	height: 14px;
	padding-bottom: 15px;
	font: 14px/14px "微软雅黑";
	color: #7c7c7c;
}

.footer .hot-line {
	float: left;
	width: 220px;
	height: 259px;
}

.footer .hot-line-items {
	padding-left: 66px;
}

.footer .hot-line-item {
	font: 14px/14px "微软雅黑";
	color: #7c7c7c;
	padding-bottom: 7px;
}

.footer .hot-line-item1 {
	position: relative;
	height: 25px;
	font: 18px/25px "微软雅黑";
	color: #fff;
	padding-top: 40px;
}

.footer .hot-line-item1::before {
	position: absolute;
	top: 40px;
	left: -30px;
	content: "";
	width: 25px;
	height: 25px;
	background: url("../images/footer_imgs/hot_line_icon1.png") center center no-repeat;
}

.footer .hot-line-item2 {
	position: relative;
	height: 25px;
	font: 18px/25px "微软雅黑";
	color: #fff;
	padding-top: 16px;
}

.footer .hot-line-item2::before {
	position: absolute;
	top: 16px;
	left: -30px;
	content: "";
	width: 25px;
	height: 25px;
	background: url("../images/footer_imgs/hot_line_icon2.png") center center no-repeat;
}

.footer .hot-line-item3 {
	position: relative;
	height: 25px;
	font: 18px/25px "微软雅黑";
	padding-top: 16px;
}

.footer .hot-line-item3::before {
	position: absolute;
	top: 16px;
	left: -30px;
	content: "";
	width: 25px;
	height: 25px;
	background: url("../images/footer_imgs/hot_line_icon3.png") center center no-repeat;
}
