/*普通代账客户表单样式（尊享无忧财税服务）开始*/
#account{
    width: 500px;
    height: 450px;
    position: fixed;
    top: 10%;
    display: none;
    z-index: 999;
}
#account .title_wrap{
    width: 240px;
    height: 70px;
    background: #28a8e0;
    padding: 0 130px;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#account .title_wrap .title{
    width: 240px;
    height: 70px;
    font-size: 0;
}
#account .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#account .title_wrap .title .line_left{
    float: left;
}
#account .title_wrap .title .line_right{
    float: right;
}
#account .title_wrap .title p{
    font: 18px/70px "微软雅黑";
    color: white;
    text-align: center;
}
#account .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}
/*//////////////////////////////////////////////////*/
#account form{
    width: 500px;
    height: 260px;
    background: white;
}
#account form ul{
    font-size: 0;
    padding-top: 40px;
    background: #fff;
}
#account form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
#account form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock1_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#formCityMock1_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock1_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#account form ul li select{
    /* -webkit-appearance: none; */
    /*将默认的select选择框样式清除*/
  	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/40px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#account form ul li select::-ms-expand { display: none; }

#account form ul li select:nth-child(5){
    margin: 0 6px;
}

#account form ul li input{
    outline: none;
    width: 341px;
    height: 38px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    vertical-align: middle;
}
#account form ul li .prompt{
    position: absolute;
    top: 0;
    right: 105px;
    margin: 0;
    padding: 0;
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    text-align: left;
    width: 79px;
}
#account form ul li .contacts_name{
    width: 138px;
}
#account form ul li .circle_out{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 285px;
}
#account form ul li .circle_out1{
    background: #28a8e0;
}
#account form ul li .circle_out2{
    left: 373px;
    background: #989898;
}
#account form ul li .circle_inner{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#account form ul li .person{
    height: 28px;
    width: 32px;
    font: 16px/16px "微软雅黑";
    color: #999;
    margin: 0 2px 0 54px;
    padding-top: 12px;
    vertical-align: middle;
}
#account form ul .auth-name {
	float: left;
	font-size: 14px;
	line-height: 40px;
	font-family: "微软雅黑";
	color: #222;
	margin: 0 10px 0 45px;
}
#account form ul #auth-code {
	width: 255px;
	height: 38px;
	font: 14px/38px "微软雅黑";
	color: #222;
	border: 1px solid #f4f4f4;
    vertical-align: middle;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	outline: none;
	display: block;
	float: left;
}
#account form ul .get-code {
	width: 106px;
	height: 38px;
	border: none;
	vertical-align: middle;
	outline: none;
	background: #26a6ff;
	color: #fff;
	font-family: "微软雅黑";
	cursor: pointer;
	display: block;
	float: left;
}
#account form ul .btn_wrap{
    width: 500px;
    height: 80px;
    background: white;
    font: 18px/40px "微软雅黑";
    color: white;
    text-align: center;
}
#account form ul .btn{
    width: 284px;
    height: 40px;
    margin: 0 auto;
    border-radius: 6px;
    background: #28a8e0;
}
#province,#city,#area{
    background: 80px 14px no-repeat url("../images/form_quickmark_imgs/pull_icon.png") ;
}
/*普通代账客户表单样式（尊享无忧财税服务）结束*/
/*//////////////////////////////////////////////////*/
/*加盟我们表单样式开始*/
#join{
    width: 500px;
    height: 522px;
    position: fixed;
    top: 10%;
    display: none;
    z-index: 999;
}
#join .title_wrap{
    width: 240px;
    height: 70px;
    background: #28a8e0;
    padding: 0 130px;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#join .title_wrap .title{
    width: 240px;
    height: 70px;
    font-size: 0;
}
#join .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#join .title_wrap .title .line_left{
    float: left;
}
#join .title_wrap .title .line_right{
    float: right;
}
#join .title_wrap .title span{
    font: 18px/70px "微软雅黑";
    color: white;
    margin-left: 12px;
}
#join .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}
/*//////////////////////////////////////////////////*/
#join form{
    width: 500px;
    height: 392px;
}
#join form ul{
    font-size: 0;
    padding-top: 60px;
    background: white;
}
#join form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}

#join form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock2_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#formCityMock2_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#formCityMock2_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#join form ul li select{
    -webkit-appearance: none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}
#join form ul li select:nth-child(5){
    margin: 0 6px;
}

#join form ul li input{
    outline: none;
    width: 341px;
    height: 38px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    vertical-align: middle;
}
#join form ul li .prompt{
    position: absolute;
    top: 0;
    right: 105px;
    margin: 0;
    padding: 0;
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    text-align: left;
    width: 79px;
}
#join form ul li .prompt1{
    right: 145px;
}
#join form ul li .contacts_name{
    width: 138px;
}
#join form ul li .circle_out{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 285px;
}
#join form ul li .circle_out1{
    background: #28a8e0;
}
#join form ul li .circle_out2{
    left: 373px;
    background: #989898;
}
#join form ul li .circle_inner{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#join form ul .btn_wrap{
    width: 500px;
    height: 100px;
    background: white;
    font: 18px/40px "微软雅黑";
    color: white;
    text-align: center;
}
#join form ul li .person{
    height: 28px;
    width: 32px;
    font: 16px/16px "微软雅黑";
    color: #999;
    margin: 0 2px 0 54px;
    padding-top: 12px;
    vertical-align: middle;
}
#join form ul .btn{
    width: 284px;
    height: 40px;
    margin: 0 auto;
    background: #28a8e0;
    border-radius: 6px;
}
#province22,#city22,#area22{
    background: 80px 14px no-repeat url("../images/form_quickmark_imgs/join_us_pull_icon.png") ;
}
/*加盟我们表单样式结束*/

/*//////////////////////////////////////////////////*/
/*报价表单样式开始*/
#offer{
    width: 500px;
    height: 450px;
    position: fixed;
    top: 10%;
    display: none;
    z-index: 999;
}
#offer .title_wrap{
    width: 240px;
    height: 70px;
    background: #28a8e0;
    padding: 0 130px;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#offer .title_wrap .title{
    width: 240px;
    height: 70px;
    font-size: 0;
}
#offer .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#offer .title_wrap .title .line_left{
    float: left;
}
#offer .title_wrap .title .line_right{
    float: right;
}
#offer .title_wrap .title p{
    font: 18px/70px "微软雅黑";
    color: white;
    text-align: center;
}
#offer .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}
/*//////////////////////////////////////////////////*/
#offer form{
    width: 500px;
    height: 260px;
    background: white;
}
#offer form ul{
    font-size: 0;
    padding-top: 60px;
}
#offer form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
#offer form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock3_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock3_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock3_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#offer form ul li select{
    /* -webkit-appearance: none; */
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/40px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#offer form ul li select::-ms-expand { display: none; }

#offer form ul li select:nth-child(5){
    margin: 0 6px;
}

#offer form ul li input{
    outline: none;
    width: 341px;
    height: 38px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    vertical-align: middle;
}
#offer form ul li .prompt{
    position: absolute;
    top: 0;
    right: 105px;
    margin: 0;
    padding: 0;
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    text-align: left;
    width: 79px;
}
#offer form ul li .contacts_name{
    width: 138px;
}
#offer form ul li .circle_out{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 285px;
}
#offer form ul li .circle_out1{
    background: #28a8e0;
}
#offer form ul li .circle_out2{
    left: 373px;
    background: #989898;
}
#offer form ul li .circle_inner{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#offer form ul li .person{
    height: 28px;
    width: 32px;
    font: 16px/16px "微软雅黑";
    color: #999;
    margin: 0 2px 0 54px;
    padding-top: 12px;
    vertical-align: middle;
}
#offer form ul .btn_wrap{
    width: 500px;
    height: 100px;
    background: white;
    font: 18px/40px "微软雅黑";
    color: white;
    text-align: center;
}
#offer form ul .btn{
    width: 284px;
    height: 40px;
    margin: 0 auto;
    border-radius: 6px;
    background: #28a8e0;
}
#province33,#city33,#area33{
    background: 80px 14px no-repeat url("../images/form_quickmark_imgs/pull_icon.png") ;
}
/*报价表单样式结束*/

/*//////////////////////////////////////////////////*/
/*体验表单样式开始*/
#experience{
    width: 500px;
    height: 450px;
    position: fixed;
    top: 10%;
    display: none;
    z-index: 999;
}
#experience .title_wrap{
    width: 240px;
    height: 70px;
    background: #28a8e0;
    padding: 0 130px;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#experience .title_wrap .title{
    width: 240px;
    height: 70px;
    font-size: 0;
}
#experience .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#experience .title_wrap .title .line_left{
    float: left;
}
#experience .title_wrap .title .line_right{
    float: right;
}
#experience .title_wrap .title p{
    font: 18px/70px "微软雅黑";
    color: white;
    text-align: center;
}
#experience .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}
/*//////////////////////////////////////////////////*/
#experience form{
    width: 500px;
    height: 260px;
    background: white;
}
#experience form ul{
    font-size: 0;
    padding-top: 60px;
}
#experience form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
#experience form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock4_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
#formCityMock4_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock4_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#experience form ul li select{
    /* -webkit-appearance: none; */
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/40px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#experience form ul li select::-ms-expand { display: none; }

#experience form ul li select:nth-child(5){
    margin: 0 6px;
}

#experience form ul li input{
    outline: none;
    width: 341px;
    height: 38px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    vertical-align: middle;
}
#experience form ul li .prompt{
    position: absolute;
    top: 0;
    right: 105px;
    margin: 0;
    padding: 0;
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    text-align: left;
    width: 79px;
}
#experience form ul li .contacts_name{
    width: 138px;
}
#experience form ul li .circle_out{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 285px;
}
#experience form ul li .circle_out1{
    background: #28a8e0;
}
#experience form ul li .circle_out2{
    left: 373px;
    background: #989898;
}
#experience form ul li .circle_inner{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#experience form ul li .person{
    height: 28px;
    width: 32px;
    font: 16px/16px "微软雅黑";
    color: #999;
    margin: 0 2px 0 54px;
    padding-top: 12px;
    vertical-align: middle;
}
#experience form ul .btn_wrap{
    width: 500px;
    height: 100px;
    background: white;
    font: 18px/40px "微软雅黑";
    color: white;
    text-align: center;
}
#experience form ul .btn{
    width: 284px;
    height: 40px;
    margin: 0 auto;
    border-radius: 6px;
    background: #28a8e0;
}
#province44,#city44,#area44{
    background: 80px 14px no-repeat url("../images/form_quickmark_imgs/pull_icon.png") ;
}
/*体验表单样式结束*/
/*//////////////////////////////////////////////////*/
/*免费查询表单样式开始*/
#search{
    width: 500px;
    height: 450px;
    position: fixed;
    top: 10%;
    display: none;
    z-index: 999;
}
#search .title_wrap{
    width: 500px;
    height: 95px;
    background: #28a8e0;
    border-radius: 8px 8px 0 0;
    position: relative;
}
#search .title_wrap .title{
    width: 240px;
    font-size: 0;
    margin: 0 auto;
}
#search .title_wrap .title .line{
    width: 20px;
    height: 1px;
    margin-top: 34.5px;
    background: white;
}
#search .title_wrap .title .line_left{
    float: left;
}
#search .title_wrap .title .line_right{
    float: right;
}
#search .title_wrap .title p{
    font: 18px "微软雅黑";
    color: white;
    text-align: center;
    padding-top: 23px;
}
#search .title_wrap img{
    position: absolute;
    top: 15px;
    right: 20px;
}

#search .title_wrap .company_search_p {
	font-size: 13px;
	line-height: 32px;
	font-family: "Helvetica Neue", "微软雅黑";
	color: #fff;
	text-align: center;
}
/*//////////////////////////////////////////////////*/
#search form{
    width: 500px;
    height: 265px;
    background: white;
}

#search form ul{
    font-size: 0;
    padding-top: 25px;
    background: #fff;
}
#search form ul li{
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
#search form ul li span{
    font: 14px/40px "微软雅黑";
    color: #222;
    text-align: right;
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}
#formCityMock5_1{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 110px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock5_2{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 233px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#formCityMock5_3{
    width: 64px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 356px;
    font: 14px/38px "微软雅黑";
    color: #222;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
#search form ul li select{
    /* -webkit-appearance: none; */
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    width: 117px;
    height: 40px;
    font: 14px/40px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 41px 0 10px;
    vertical-align: middle;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#search form ul li select::-ms-expand { display: none; }

#search form ul li select:nth-child(5){
    margin: 0 6px;
}

#search form ul li input{
    outline: none;
    width: 341px;
    height: 38px;
    font: 14px/38px "微软雅黑";
    color: #222;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    vertical-align: middle;
}
#search form ul li .prompt{
    position: absolute;
    top: 0;
    right: 86px;
    margin: 0;
    padding: 0;
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    text-align: left;
    width: 79px;
}
#search form ul li .contacts_name{
    width: 138px;
}
#search form ul li .circle_out{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 285px;
}
#search form ul li .circle_out1{
    background: #28a8e0;
}
#search form ul li .circle_out2{
    left: 373px;
    background: #989898;
}
#search form ul li .circle_inner{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#search form ul li .person{
    height: 28px;
    width: 32px;
    font: 16px/16px "微软雅黑";
    color: #999;
    margin: 0 2px 0 54px;
    padding-top: 12px;
    vertical-align: middle;
}
#search form ul .auth-name {
	float: left;
	font-size: 14px;
	line-height: 40px;
	font-family: "微软雅黑";
	color: #222;
	margin: 0 10px 0 45px;
}
#search form ul #auth-code {
	width: 255px;
	height: 38px;
	font: 14px/38px "微软雅黑";
	color: #222;
	border: 1px solid #f4f4f4;
    vertical-align: middle;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	outline: none;
	display: block;
	float: left;
}
#search form ul .get-code {
	width: 106px;
	height: 38px;
	border: none;
	vertical-align: middle;
	outline: none;
	background: #26a6ff;
	color: #fff;
	font-family: "微软雅黑";
	cursor: pointer;
	display: block;
	float: left;
}
#search form ul .btn_wrap{
    width: 500px;
    height: 70px;
    background: white;
    font: 18px/40px "微软雅黑";
    color: white;
    text-align: center;
}
#search form ul .btn{
    width: 284px;
    height: 40px;
    margin: 0 auto;
    border-radius: 6px;
    background: #28a8e0;
}
#province55,#city55,#area55{
    background: 80px 14px no-repeat url("../images/form_quickmark_imgs/pull_icon.png") ;
}
/*免费查询表单样式结束*/
/*=======================================================================*/

/* 弹出二维码样式开始 */
.quickMark_wrap {
    display: none;
	width: 500px;
	height: 450px;
	position: fixed;
	top: 10%;
    z-index: 999;
}

.quickMark_top {
	width: 500px;
	height: 70px;
	background: #28a7e1;
    border-radius: 8px 8px 0 0;
}
.quickMark_middle{
    padding: 60px 0 32px;
}
.quickMark_bottom{
    padding: 0 0 40px;
}
.quickMark_middle,.quickMark_bottom{
    background: white;
}
.quickMark_top .correct_logo,.correct_logo_text {
	float: left;
}

.quickMark_top .close_logo {
	float: right;
	margin-right: 20px;
	margin-top: 23.5px;
}

.quickMark_top .correct_logo {
	margin-left: 20px;
	margin-top: 13.5px;
}

.quickMark_top .correct_logo_text {
	margin-left: 21px;
}

.quickMark_top .correct_logo_text .p1 {
	font-size: 18px;
	color: #fff;
	margin-top: 16px;
}

.quickMark_top .correct_logo_text .p2 {
	font-size: 14px;
	color: #fff;
	margin-top: 8px;
}

.quickMark_middle .quickMark_logo {
	margin-left: 162px;
}

.quickMark_middle .quickMark_logo img {
	width: 176px;
	height: 176px;
}

.quickMark_middle .details {
	font-size: 16px;
	color: #222;
	margin-top: 14px;
	text-align: center;
}

.quickMark_bottom .button {
	width: 284px;
	height: 40px;
	border-radius: 6px;
	background: #28a7e1;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	margin: 0 auto;
}
/* 弹出二维码样式开始 */
