@CHARSET "UTF-8";
/*header部分样式开始*/
#jmsIN {
    color: #2ba0ea;
}

#pc_header .header_wrap {
    width: 100%;
    height: 100px;
    min-width: 1240px;
}

#pc_header .header_wrap .header_up_wrap {
    width: 100%;
    height: 30px;
    background: #f6f6f6;
}

#pc_header .header_wrap .header_up {
    width: 1240px;
    height: 30px;
    margin: 0 auto;
}

#pc_header .header_wrap .header_up .left_wrap {
    height: 30px;
    margin-left: 12px;
    font: 14px/30px "微软雅黑";
}

#pc_header #changeCity {
    display: inline-block;
    width: 75px;
    height: 30px;
    text-align: center;
    color: #222;
    cursor: pointer;
}

#pc_header #changeCity:hover {
    color: #28a7e1;
}

#pc_header .header_wrap .header_up .right_wrap {
    float: right;
    height: 30px;
    margin-left: 12px;
    font: 14px/30px "微软雅黑";
}

#pc_header .header_wrap .header_up .right_wrap .header_right {
    color: #2ba0ea;
}

#pc_header .header_wrap .header_up .right_wrap .header_right_phone {
    color: #333;
    margin-left: 7px;
}

/* header 左侧新添加企业版链接5.31 */
#pc_header .header_wrap .header_up .right_wrap .header_ee_login {
    font-size: 14px;
    color: #0c161f;
    text-align: center;
}

#pc_header .header_wrap .header_up .right_wrap span {
    width: 1px;
    height: 15px;
    background: #bbb;
    display: inline-block;
    margin: 8px 10px 0;
    vertical-align: top;
}

/*/////////////////////////////////////////////////////////////////////////////*/
#pc_header .header_wrap .header_down_wrap {
    width: 100%;
    height: 70px;
}

#pc_header .header_wrap .header_down {
    width: 1240px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

#pc_header .header_wrap .header_down .left_wrap {
    font-size: 0;
    display: block;
    width: 284px;
    height: 70px;
}

#pc_header .header_wrap .header_down .logo {
    font-size: 0;
    display: inline-block;
    width: 110px;
    height: 70px;
}

#pc_header .header_wrap .header_down .left_wrap h2 {
    display: inline-block;
}

#pc_header .header_wrap .header_down .left_wrap img {
    vertical-align: middle;
}

#pc_header .header_wrap .header_down .left_wrap .slogan_1 {
    margin: 1px 0;
}

#pc_header .header_wrap .header_down .left_wrap .slogan_2 {
    margin: 19px 0 19px 4px;
}

#pc_header .header_wrap .header_down .left_wrap .slogan_3 {
    margin: 1px 0;
}

#pc_header .header_wrap .header_down .middle_wrap {
    position: absolute;
    left: 286px;
    top: 19px;
    width: 213px;
    height: 34px;
    background: #c8000b;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #fff;
}

#pc_header .header_wrap .header_down .middle_wrap p {
    padding-left: 14px;
    letter-spacing: 1px;
}

#pc_header .header_wrap .header_down .middle_wrap p:first-child {
    padding-top: 10px;
    padding-bottom: 6px;
}

#pc_header .header_wrap .header_down .right_wrap {
    float: right;
    height: 70px;
    font: 20px/70px "微软雅黑";
    color: #32abe2;
}

#pc_header .header_wrap .header_down .right_wrap span {
    color: #32abe2;
    font-size: 22px;
    margin-right: 5px;
    margin-left: 5px;
}

/*header部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*nav部分样式开始*/

#pc_header .nav_wrap {
    min-width: 1240px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dadada;
}

#pc_header .nav_wrap .nav {
    width: 1240px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

#pc_header .nav_wrap .nav .nav_left {
    display: block;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    font: 16px/40px "微软雅黑";
    color: #fff;
    background: #28a7e1;
}

#pc_header .nav_wrap .nav .nav_left .nav_logo {
    float: right;
    margin: 14px 20px;
}

/*/////////////////////////////////////////////////////////////////////////////*/
#pc_header .nav_wrap .nav .nav_right {
    position: absolute;
    top: 0;
    left: 247px;
    height: 40px;
}

#pc_header .nav_wrap .nav .nav_right .navs {
    float: left;
    font: 16px/40px "微软雅黑";
    margin-right: 19px;
}

#pc_header .nav_wrap .nav .nav_right .navs a {
    color: #222;
}

#pc_header .nav_wrap .nav .nav_right .nav1 {
    margin-right: 37px;
}

/* 5.31 nav部分 hover添加 */
#pc_header .nav_wrap .nav .nav_right .navs a:hover {
    color: #28a7e1;
}

/*nav部分样式结束*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*banner1部分样式开始*/
#pc_header .banner1_wrap .banner1 {
    width: 0;
    height: 420px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 99;
    display: none;
}

#pc_header .banner1_wrap .banner1 .banner1_left {
    width: 220px;
    height: 420px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu {
    width: 220px;
    height: 138.66666666px;
    background: #1a4167;
    position: relative;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu1, #pc_header .banner1_wrap .banner1 .banner1_left .second_menu2 {
    border-bottom: 2px solid rgba(3, 3, 3, 0.4);
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu_left {
    width: 63px;
    height: 138.66666666px;
    text-align: center;
    font-size: 0;
    background-image: url("../images/index_imgs/tapered_line.png");
    background-position: right center;
    background-repeat: no-repeat;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu_left img {
    margin-top: 57.33333333px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu_right {
    width: 142px;
    height: 98px;
    float: right;
    padding: 41px 0 0 15px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu_right .second_menu_right_title {
    width: 142px;
    font: 16px/16px "微软雅黑";
    color: #fff;
    margin-bottom: 2px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu_right .second_menu_right_p {
    width: 63px;
    float: left;
    font: 14px/14px "微软雅黑";
    color: #999;
    margin: 10px 8px 0 0;

}

/*/////////////////////////////////////////////////////////////////////////////*/
#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu1_1 {
    position: absolute;
    top: 0;
    left: 220px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu2_1 {
    position: absolute;
    top: -140.66666666px;
    left: 220px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menu3_1 {
    position: absolute;
    top: -281.33333334px;
    left: 220px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus {
    width: 560px;
    height: 398px;
    padding: 20px 0 0 40px;
    border-top: 1px solid #28a7e1;
    border-bottom: 1px solid #28a7e1;
    background: white bottom right no-repeat url("../images/index_imgs/second_menu_bg.png");
    display: none;
    font-size: 0;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .color1 {
    display: inline-block;
    width: 4px;
    height: 20px;
    background: #5cd2f3;
    margin-right: 8px;
    vertical-align: middle;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .banner1_middle_title {
    display: inline-block;
    font: 18px/18px "微软雅黑;";
    color: #222;
    margin-top: 1px;
    vertical-align: middle;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .color2 {
    display: inline-block;
    width: 1px;
    height: 18px;
    background: #999;
    margin: 1px 8px 0;
    vertical-align: middle;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .banner1_middle_title_introduce {
    display: inline-block;
    font: 14px/14px "微软雅黑;";
    color: #999;
    margin-top: 6px;
    vertical-align: middle;

}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists {
    width: 560px;
    height: 358px;
    margin-top: 20px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list {
    width: 228px;
    height: 48px;
    padding: 12px 0 0 12px;
    margin: 0 40px 20px 0;
    float: left;
    position: relative;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list img {
    position: absolute;
    top: 17px;
    right: 17px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list .second_menu_list_name {
    font: 14px/14px "微软雅黑;";
    color: #fff;
    display: inline-block;
    width: 161px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list .detail {
    width: 84px;
    height: 18px;
    font: 12px/18px "微软雅黑;";
    text-align: center;
    color: #fff;
    margin-top: 6px;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list1 {
    background: #7976fe;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list2 {
    background: #4e7fde;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list3 {
    background: #63a4f1;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list4 {
    background: #74b3fd;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list1 .detail {
    background: #3d3b7f;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list2 .detail {
    background: #26406e;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list3 .detail {
    background: #315278;
}

#pc_header .banner1_wrap .banner1 .banner1_left .second_menu .second_menus .second_menu_lists .second_menu_list4 .detail {
    background: #3a597e;
}

/*banner1部分样式结束*/

/*遮罩层样式开始*/
#pc_header #cover {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
}

/*遮罩层样式结束*/

/*背景图兼容开始*/
/* @media screen and (max-width: 1240px) {
    .header_down_wrap{
        background-position:  -320px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}

@media screen and (min-width:1241px) and (max-width: 1280px) {
    .header_down_wrap{
        background-position:  -300px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}

@media screen and (min-width:1281px) and (max-width: 1360px) {
    .header_down_wrap{
        background-position:  -280px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1361px) and (max-width: 1366px) {
    .header_down_wrap{
        background-position:  -277px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1367px) and (max-width: 1400px) {
    .header_down_wrap{
        background-position:  -260px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1401px) and (max-width: 1440px) {
    .header_down_wrap{
        background-position:  -240px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1441px) and (max-width: 1600px) {
    .header_down_wrap{
        background-position:  -160px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1601px) and (max-width: 1680px) {
    .header_down_wrap{
        background-position:  -120px 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
}
@media screen and (min-width:1681px) and (max-width: 1920px) {
    .header_down_wrap{
        background-position:  0 0;
    }
    .header_down_wrap{
        background-image: url("../images/index_imgs/head_down_wrap.jpg");
    }
} */
/*背景图兼容结束*/

/*导航 hot 图标添加*/
#pc_header .nav_wrap .nav .nav_right .nav8 {
    position: relative;
}

#pc_header .nav_wrap .nav .nav_right .nav8 a {
    color: #e85555;
}

.hotpic {
    position: absolute;
    top: 0;
    right: -8px;
}

/*屏蔽信息*/
.nav_right .nav8 {
    display: none;
}

.Banner {
    width: 1200px;
    height: 540px;
    margin: 20px auto;
}

.Banner_left {
    width: 50%;
    height: auto;
    float: left;
}

.Banner_right {
    width: 50%;
    float: right;
    height: auto;
    padding-left: 20px;
}

.Banner_Top h3 {
    font-size: 35px;
    margin-bottom: 24px;
    color: rgba(4, 7, 7, 1);
}

.Banner_Top h5 {
    font-size: 26px;
    margin-bottom: 35px;
    color: rgba(206, 173, 108, 1);
}

.Banner_Top p {
    font-size: 13px;
    color: rgba(150, 150, 150, 1);
    margin-bottom: 66px;
}

.Banner_BottomT {
    margin-bottom: 20px;
}

.Banner_BottomT1 {
    margin-right: 22px;
    float: right;
}

.Banner_BottomT1se {
    width: 271px;
    height: 50px;
    background: #ffffff;
}

.Banner_BottomT1 {
    float: left;
}

.Banner_BottomT2se {
    width: 180px;
    height: 50px;
    background: #ffffff;
}

.Banner_BottomC {
    font-size: 10px;
    color: #969696;
    margin-bottom: 20px;
}

.Banner_BottomBButton1 {
    width: 220px;
    height: 50px;
    background: rgba(206, 195, 173, 0);
    border: 1px solid rgba(221, 221, 221, 1);
    margin-right: 22px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    color: rgba(150, 150, 150, 1);
}

.Banner_BottomBButton2 {
    width: 231px;
    height: 51px;
    background: rgba(206, 195, 173, 0);
    border: 2px solid rgba(4, 7, 7, 1);
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    color: rgba(4, 7, 7, 1);
    float: left;
}

/*InternalAndForeignList Start*/
.IAF {
    width: 100%;
}

.IAF_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.IAF_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.IAF_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.IAF_Box1 {
    margin-left: 24px;
}

.IAF_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box1Section {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
}

.IAF_Box1Section1 {
    display: flex;
    align-items: center;
}
.IAF_Box1Setion1{
    display: flex;
    align-items: center;
}
.IAF_Box1Setion1Icon{
    margin-right:10px;
}
/*.IAF_Box1Setion1Text{*/
    /*float: left;*/
/*}*/
.IAF_Box1Section1Text {
    display: flex;
    flex-direction: column;
}

.IAF_Box1Section1Text h6 {
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box1Section1Text p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.IAF_Box2 {
    margin-left: 24px;
}

.IAF_Box2Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box2Section {
    width: 100%;
    height: 150px;
    padding-top: 40px;
    padding-left: 24px;

}

.IAF_Box2Section_Ul {
    width: 100%;
    height: 150px;
}

.IAF_Box2Section_UlLi {
    float: left;
    width: 33.33%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.redfangkuai {
    width: 10px;
    height: 10px;
    background: red;
    margin-right: 9px;
}

.IAF_Box3 {
    margin-left: 24px;
}

.IAF_Box3Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box3Section {
    width: 100%;
    height: 150px;
    padding-top: 40px;
    padding-left: 24px;

}

.IAF_Box3Section_Ul {
    width: 100%;
    height: 150px;
}

.IAF_Box3Section_UlLi {
    float: left;
    width: 50%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.IAF_Box4 {
    margin-left: 24px;
}

.IAF_Box4Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box4Section {
    width: 100%;
    height: 230px;
    padding-top: 40px;
    padding-left: 24px;
}

.IAF_Box4Section_Ul {
    width: 50%;
    height: 230px;
}

.IAF_Box4Section_UlLi {
    float: left;
    width: 50%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.IAF_Box5 {
    margin-left: 24px;
}

.IAF_Box5Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.IAF_Box5Section {
    width: 100%;
    height: 250px;
    padding-top: 40px;
    padding-left: 24px;
}

.IAF_Box5Section {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.IAF_Box5Section_Ul {
    width: 100%;
    height: 230px;
    margin:0;
}

.IAF_Box5Section_UlLi {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

/*TrademarkList Start*/

.TRA {
    width: 100%;
}

.TRA_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.TRA_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.TRA_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.TRA_Box1 {
    margin-left: 24px;
}

.TRA_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TRA_Box1Section {
    padding-top: 40px;
    padding-left: 24px;
    padding-right:48px;
}

.TRA_Box1SectionTitle {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.TRA_Box1SectionTitle h5 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.hengxian {
    width: 72px;
    height: 1px;
    background: rgba(204, 204, 204, 1);
}

.TRA_Box1Section_Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.TRA_Box1Section_Box1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.TRA_Box1Section_Box1 img {
    width: 81px;
    height: 70px;
    margin-bottom: 30px;
}

.TRA_Box1Section_Box1 p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.TRA_Box2 {
    margin-left: 24px;
}

.TRA_Box2Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TRA_Box2Section {
    padding-top: 40px;
    margin: 0 auto;
}
.TRA_Box2SectionImg{
    width: 700px;
    margin: 0 auto;
}

.TRA_Box2Section img {
    width: 700px;

}

.TRA_Box3 {
    margin-left: 24px;
}

.TRA_Box3Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TRA_Box3Section {
    padding-top: 40px;
    padding-left: 24px;
}

.TRA_Box3Section p {
    width: 60%;
    padding: 13px 0;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

/*TrademarkList End*/

/*AgentBookkping Start*/

.ABK {
    width: 100%;
}

.ABK_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.ABK_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.ABK_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.ABK_Box1 {
    margin-left: 24px;
}

.ABK_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.ABK_Box1Section {
    padding-left: 24px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.ABK_Box1SectionLeft {
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ABK_Box1SectionLeftLi {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ABK_Box1SectionLeftLiT {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ABK_Box1SectionLeftLiT h6 {
    font-size: 24px;
    font-weight: normal;
    color: rgba(176, 0, 4, 1);
}

.ABK_Box1SectionLeftLiT span {
    font-size: 16px;
    font-weight: 400;
    color: rgba(176, 0, 4, 1);
    margin-left: 36px;
}

.ABK_Box1SectionLeftLi p {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 24px;
}

.ABK_Box1SectionCenter {
    width: 216px;
    height: 154px;
}

.ABK_Box1SectionCenter img {
    width: 216px;
    height: 154px;
}

.ABK_Box1SectionRight {
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ABK_Box1SectionRightLi {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.ABK_Box1SectionRightLiT {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ABK_Box1SectionRightLiT h6 {
    font-size: 24px;
    font-weight: normal;
    color: rgba(176, 0, 4, 1);
}

.ABK_Box1SectionRightLiT span {
    font-size: 16px;
    font-weight: 400;
    color: rgba(176, 0, 4, 1);
    margin-right: 36px;
}

.ABK_Box1SectionRightLi p {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 24px;
}

.ABK_Box2 {
    margin-left: 24px;
}

.ABK_Box2Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.ABK_Box2Section {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 48px;
}
.ABK_Box2Section img{
    width: 100%;
}


.ABK_Box3 {
    margin-left: 24px;
}

.ABK_Box3Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.ABK_Box3Section {
    padding-top: 40px;
    padding-left: 24px;
}

.ABK_Box3Section_Ul {
    width: 100%;
    height: 150px;
}

.ABK_Box3Section_UlLi {
    float: left;
    width: 33.33%;
    height: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}



.ABK_Box4 {
    margin-left: 24px;
}

.ABK_Box4Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.ABK_Box4Section {
    padding-top: 40px;
    padding-left: 24px;
}

.ABK_Box4Section p{
    width: 60%;
    padding: 13px 0;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}
/*AgentBookkping End*/


/*OperatingLicenseList Start*/
.OL {
    width: 100%;
}

.OL_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.OL_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.OL_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.OL_Box1 {
    margin-left: 24px;
}

.OL_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.OL_Box1Section {
    padding-top: 40px;
    padding-left: 24px;
}

.OL_Box1Section1 {
    display: flex;
    align-items: center;
}

.OL_Box1Section1Text {
    display: flex;
    flex-direction: column;
}

.OL_Box1Section1Text p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.OL_Box2 {
    margin-left: 24px;
}

.OL_Box2Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.OL_Box2Section {
    padding-top: 40px;
    padding-left: 24px;
}

.OL_Box2SectionText p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-bottom:49px;
}

.OL_Box3 {
    margin-left: 24px;
}

.OL_Box3Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.OL_Box3Section {
    padding-top: 40px;
    padding-left: 24px;
}

.OL_Box3ection1Text img {
    width: 100%;
}

/*OperatingLicenseList End*/
/*TaxPlanningList Start*/
.TP {
    width: 100%;
}

.TP_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.TP_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.TP_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.TP_Box1 {
    margin-left: 24px;
}

.TP_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TP_Box1Section {
    padding-top: 40px;
    padding-left: 24px;
}

.TP_Box1Section1Text {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.TP_Box1Section1Text span{
    background:rgba(174,7,11,1);
    border-radius:4px;
    font-size:12px;
    color:rgba(255,255,255,1);
    padding: 4px 5px;
    margin-right: 18px;
}
.TP_Box1Section1Text p{
    font-size:18px;
    font-weight:bold;
    color:rgba(176,0,4,1);
}

.TP_Box1Section2Text {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.TP_Box1Section2Text span{
    background:rgba(12,102,187,1);
    border-radius:4px;
    font-size:12px;
    color:rgba(255,255,255,1);
    padding: 4px 5px;
    margin-right: 18px;

}
.TP_Box1Section2Text p{
    font-size:14px;
    font-weight:400;
    color:rgba(51,51,51,1);
}

.TP_Box1Section3Text{
    display: flex;
    align-items: center;
}

.TP_Box1Section3TextLeft{
    width:80px;
    height:115px;
    border:1px solid rgba(174,7,11,1);
    font-size:18px;
    font-weight:bold;
    color:rgba(176,0,4,1);
    margin-right: 30px;
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
    text-align: center;
    padding: 0px 27px;
}
.TP_Box1Section3TextRight h3{
    font-size:18px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom: 24px;
}
.TP_Box1Section3TextRight_Ul {
    width: 100%;
    height:auto;
}

.TP_Box1Section3TextRight_UlLi {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.TP_Box1Section4Text{
    display: flex;
    align-items: center;
}

.TP_Box1Section5Text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E5E5;
}

.TP_Box1Section5Text:nth-last-child(1){
    border-bottom: 0px solid #E5E5E5;
}

.TP_Box1Section5TextTop{
    margin-bottom: 50px;
}
.TP_Box1Section5TextTop span{
    background:rgba(12,102,187,1);
    border-radius:4px;
    font-size:14px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    padding: 5px 10px;
}
.TP_Box1Section5TextCenter{
    margin-bottom: 28px;
    display: flex;
}

.TP_Box1Section5TextCenter p{
    font-size:16px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-right: 38px;
}

.TP_Box1Section5TextCenter span{
    font-size:16px;
    font-weight:bold;
    color:rgba(176,0,4,1);
}

.TP_Box1Section5TextBottom{
    margin-bottom: 28px;
    display: flex;
}

.TP_Box1Section5TextBottom p{
    font-size:16px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-right: 38px;
}

.TP_Box1Section5TextBottom span{
    font-size:16px;
    font-weight:bold;
    color:rgba(176,0,4,1);
}

.TP_Box2 {
    margin-left: 24px;
}

.TP_Box2Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TP_Box2Section {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.TP_Box2Section1Text{
    font-size:18px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom:24px;
}

.TP_Box2Section2Text{
    display: flex;
    flex-direction: column;
}

.TP_Box2Section2Text_Li{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.TP_Box2Section2Text_Li span{
    width:20px;
    height:20px;
    background:rgba(174,7,11,1);
    border-radius:50%;
    font-size:16px;
    font-weight:400;
    color:rgba(255,255,255,1);
    padding: 0px 5.5px;
    margin-right:15px;
}
.TP_Box2Section2Text_Li p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}
.TP_Box2Section3Text{
    text-indent: 2em;
    font-size:18px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom: 60px;
}

.TP_Box3 {
    margin-left: 24px;
}

.TP_Box3Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.TP_Box3Section {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.TP_Box3Section1Text{
    margin-bottom: 60px;
}
.TP_Box3Section1Text_Box1{
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
}
.TP_Box3Section1Text_Box1 span{

    font-size:18px;
    font-weight:bold;
    color:rgba(174,7,11,1);
    margin-right: 45px;
    min-width: 126px;
}
.TP_Box3Section1Text_Box1 p{

    display: block;
    font-size:16px;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.TP_Box3Section2Text{
    width: 100%;
    height:150px;
}
.TP_Box3Section2Text_Li {
    float: left;
    width: 25%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
/*TaxPlanningList End*/

/*CompanyChangesList Start*/
.CC {
    width: 100%;
}

.CC_Box {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.CC_BoxTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}

.CC_BoxTitleT {
    width: 73px;
    height: 60px;
    font-size: 18px;
    color: #b00004;
    line-height: 60px;
    margin-left: 24px;
    border-bottom: 4px solid #b00004;
}

.CC_Box1 {
    margin-left: 24px;
}

.CC_Box1Title h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.CC_Box1Section {
    padding-top: 40px;
    padding-left: 24px;
}

.CC_Box1Section1Text{
    margin-bottom: 80px;
}
.CC_Box1Section2Text{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.CC_Box1Section2Text .hengxian {
    width: 72px;
    height: 1px;
    background: rgba(174,7,11,1);
}

.CC_Box1Section2Text h5{
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}
.CC_Box1Section3Img{
    padding-right: 24px;
}
.CC_Box1Section3Img img {
    width: 100%;
}


.CC_Box1Section4Text{
    width: 100%;
    height:310px;
    padding-right: 48px;
    position: relative;
    margin-bottom: 25px;
}
.CC_Box1Section4Text:nth-last-child(1){
    margin-bottom: 0;
}

.CC_Box1Section4Text:nth-child(odd) .CC_Box1Section4TextLeft{
    float: right;
    width: 800px;
}

.CC_Box1Section4Text:nth-child(even) .CC_Box1Section4TextLeft{
    float: left;
    width: 800px;
}

.CC_Box1Section4Text:nth-child(even) .CC_Box1Section4TextLeftTop{
    width: 800px;
    height:110px;
    line-height: 110px;
    display: flex;
    justify-content: flex-start;
}

.CC_Box1Section4Text:nth-child(odd) .CC_Box1Section4TextLeftTop{
    width: 800px;
    height:110px;
    line-height: 110px;
    display: flex;
    justify-content: flex-end;
}

.CC_Box1Section4TextLeftTop h3{
    font-size:40px;
    font-weight:bold;
    color:rgba(176,0,4,1);
    line-height: 110px;
    margin:0;
}
.CC_Box1Section4TextLeftTop span{
    font-size:22px;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height: 110px;
}
.CC_Box1Section4Text:nth-child(even) .CC_Box1Section4TextLeftBottom{
    width: 800px;
    height: 160px;
    background: #F7F7F7;
    padding: 20px;
    padding-right: 300px;
}
.CC_Box1Section4Text:nth-child(odd) .CC_Box1Section4TextLeftBottom{
    width: 800px;
    height: 160px;
    background: #F7F7F7;
    padding: 20px;
    padding-left: 300px;
}

.CC_Box1Section4Text:nth-child(even) .CC_Box1Section4TextLeftBottom_Ul{
    /*float: left;*/
    width: 500px;
    height: 120px;
    display: flex;
    padding-left: 35px;
    flex-wrap: wrap;
}
.CC_Box1Section4Text:nth-child(odd) .CC_Box1Section4TextLeftBottom_Ul{
    /*float: right;*/
    width: 500px;
    height: 120px;
    display: flex;
    padding-left: 35px;
    flex-wrap: wrap;
}
.CC_Box1Section4TextLeftBottom_UlLi{
    float: left;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
}
.CC_Box1Section4TextLeftBottom_UlLi span{
    width:14px;
    height:14px;
    background:rgba(176,0,4,1);
    border-radius:50%;
    font-size:12px;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-right: 13px;
    text-align: center;
    line-height: 14px;

}
.CC_Box1Section4TextLeftBottom_UlLi p{
    font-size:14px;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.CC_Box1Section4Text:nth-child(odd) .CC_Box1Section4TextRight{
    width: 500px;
    height: 260px;
    position: absolute;
    top: -30px;
    left: 0px;
}
.CC_Box1Section4Text:nth-child(even) .CC_Box1Section4TextRight {
    width: 500px;
    height: 260px;
    position: absolute;
    top: -30px;
    right: 48px;
}
.CC_Box1Section4TextRight img{
    width: 500px;
    height: 260px;
}
.CC_Box1Section5Text{
    padding:10px 0;
    margin:0 auto;
    text-align: center;
    font-size:16px;
    font-weight:400;
    color:rgba(153,153,153,1);
}
/*CompanyChangesList End*/